* {
font-size: 1em;
background-color: rgb(239, 243, 188);
font-family: 'Times New Roman', Times, serif;
}


.image img {
    
    max-width:20rem;
    max-height:10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.description {
    border: gold 2px solid;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: normal;
    color: #32c415;
}

.gostos {
    border: gold 2px solid;
    border-radius: 10px;
}

.hobbies {
    
    margin-top: 1rem;
    margin-left: 35%;
    margin-right: 3rem;
    color: brown;
}

.musicas {
    color: blue;
    margin-top: 1rem;
    margin-left: 35%;
    margin-right: 3rem;
}

.footer {
    border: gold 2px solid;
    border-radius: 10px;
    margin-top: 1rem;
    
}

.footer h2 {
    font-size: 20px;
    color: brown;
}